{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Fases Lunares</h1> 
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad neque consectetur nisi, nihil, error magnam voluptate unde odit tenetur similique, qui accusamus suscipit? Ullam facilis magni ducimus recusandae, velit est?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/luna.jpg" class="img-thumbnail"

    </div>

</div>